h1 {
  color: gray;
}

.p-content a,
.link {
  color: #1a0dab;
}
.p-content a:visited,
.link:visited {
  color: #681da8;
}

.ul-content li p:before {
  content: '・';
  font-weight: bold;
}

.error-message {
  color: #ffa500;
}
